@import "./components/navbar.css";
@import "./components/footer.css";
@import "./components/card.css";
@import "./components/toast.css";

@import "./pages/home.css";
@import "./pages/company-detail.css";
@import "./pages/register.css";
@import "./pages/jobs.css";
@import "./pages/job-detail.css";
@import "./pages/dashboard.css";
@import "./pages/profile.css";
@import "./pages/login.css";

:root{

    --bg:#f8f9fa;
    --card:#ffffff;
    --text:#212529;
    --muted:#6c757d;
    --border:#dee2e6;
    --job-header:linear-gradient(135deg,#0d6efd,#4f8dfd);


}

[data-theme="dark"]{

    --bg:#0f172a;
    --bg-nv:#152344;
    --card:#1e293b;
    --text:#f8fafc;
    --span:#f8fafc;
    --muted:#94a3b8;
    --border:#334155;
    --job-header:var(--bg-nv);

}

body{

    background:var(--bg);
    color:var(--text);

}

.modal-body{
    background: var(--card);
    color: var(--text);
}

.form-control{
    background: var(--bg-nv);
    color: var(--text);
}
.form-control::placeholder{
    color: var(--text);
}
.form-select{
    background: var(--bg-nv);
    color: var(--text);
}
.modal-header{
    background: var(--bg-nv);
    color: var(--text);
}
.modal-footer{
    background: var(--card);
}