<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>

  <body
    style="font-family: Arial, sans-serif; background: #f4f6f9; padding: 40px"
  >
    <div
      style="
        max-width: 600px;
        margin: auto;
        background: white;
        padding: 40px;
        border-radius: 10px;
      "
    >
      <h2>Hello {{ user.first_name|default:user.username }}</h2>

      <p>We received a request to reset your password.</p>

      <p>Click the button below to choose a new password.</p>

      <p style="margin: 35px 0">
        <a
          href="{{ reset_link }}"
          style="
            background: #0d6efd;
            color: white;
            padding: 15px 30px;
            text-decoration: none;
            border-radius: 6px;
          "
        >
          Reset Password
        </a>
      </p>

      <p>If you didn't request a password reset, simply ignore this email.</p>

      <hr />

      <small> Job Board </small>
    </div>
  </body>
</html>
